.app-container {
    width: 100vw;
    height: 100vh;
    background: #faeffa;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

  }

  @font-face {
    font-family: 'EuropaGrotesk';
    src: url('/fonts/EuropaGroteskSH-Med.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  