.navbar {
    position: relative;
    top: 20%;
    transform: translateY(-50%);
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    padding: 0 2rem;
  }
  
  .navbar a {
    font-family: 'EuropaGrotesk', sans-serif;
    color: #6a0dad;
    text-decoration: none;
    font-size: 40px;
    cursor: pointer;
    gap: 5rem;
  }
  
  .navbar a:hover {
    color: #fffc00;
  }
  
